<h1>Tasks</h1>

<div class="filters">
  <%= form_tag tasks_path, method: :get, class: 'filter-form' do %>
    <div class="filter-group">
      <%= label_tag :status, 'Status:' %>
      <%= select_tag :status, options_for_select([['All', ''], ['Completed', true], ['Pending', false]], params[:status]), class: 'form-control' %>
    </div>

    <div class="filter-group">
      <%= label_tag :due_date, 'Due before:' %>
      <%= date_field_tag :due_date, params[:due_date], class: 'form-control' %>
    </div>

    <div class="filter-group">
      <%= label_tag :tag, 'Tag:' %>
      <%= select_tag :tag, options_for_select([['All', '']] + Tag.pluck(:name).map { |name| [name, name] }, params[:tag]), class: 'form-control' %>
    </div>

    <div class="filter-group">
      <%= label_tag :sort, 'Sort by:' %>
      <%= select_tag :sort, options_for_select([
        ['Created date', ''],
        ['Due date', 'due_date'],
        ['Title', 'title'],
        ['Status', 'status']
      ], params[:sort]), class: 'form-control' %>
    </div>

    <%= submit_tag 'Apply Filters', class: 'btn btn-primary' %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Due date</th>
      <th>Tags</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.status ? 'Completed' : 'Pending' %></td>
        <td><%= task.due_date %></td>
        <td><%= task.tag_list %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Delete', task, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination">
  <%= paginate @tasks %>
</div>

<br>

<%= link_to 'New Task', new_task_path %>
